<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andyagulue.github.jammin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jammin">
        <activity android:name=".activities.SignUpPage"/>
        <activity
            android:name=".activities.MyFavoritesPage"
            android:parentActivityName=".activities.DiscoverPage" />
        <activity
            android:name=".activities.PublicBandProfilePage"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.PublicMusicianProfilePage"
            android:parentActivityName=".activities.MainActivity" />
        <activity

            android:name=".activities.DiscoverPage"/>

        <activity
            android:name=".activities.MyBandPage"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.BandCreationPage"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.MyMusicianProfilePage"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.LogInPage"/>
        <activity
            android:name=".activities.ConfirmationPage" />
        <activity
            android:name=".activities.CreateProfilePage"
            android:parentActivityName=".activities.DiscoverPage" />
        <activity android:name=".activities.SplashPage" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>